/ArduinoApps/copy-of-air-quality-on-led-matrix
/ArduinoApps/copy-of-weather-forecast-on-led-matrix
ArduinoApps/weather2/sketch/location.h
ArduinoApps/weather2/weather.ini
Documents/~$uno_q_pin_info.xlsx
